{% extends "base.html" %}
{% block title %}
Cart page
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('basket.static', filename = '/css/style.css') }}">
    <script src="{{ url_for('basket.static', filename = '/js/script.js') }}" defer></script>
{% endblock %}
{% block content %}


<div id="log">

    <a class="first" href="/">HOME</a>
    <a id="shop" href="/shop/">SHOP</a>
    <a id="basket" href="/basket/">CART</a>
    <a id="contacts" href="/contacts/">CONTACTS</a>
    <p id="end">{{ name }}</p>
</div>
<!-- <div class="start1"> -->

<!-- </div> -->
<!-- <button id="1" class="edit2">+</button> -->
{% for product in products %}
    <div class="start">
        <img src="{{ url_for('shop.static', filename = '/image/') }}{{ product.name }}.png" alt="">
        <div>
            <p>{{ product.name }}</p>  
            <button id="{{product.id}}" class="edit1">-</button>
            <h2 id="count">0</h2>
            <button id="{{product.id}}" class="edit2">+</button>
            <!-- <h2 id="price">0</h2> -->
            <!-- <h3>грн</h3> -->
            <!-- <h2>{{ product.price }} грн</h2> -->
            <!-- <button class="buy" id = "{{ product.id }}" >Купити</button> -->
            <!-- <h3>Ємність:</h3>
            <div>
                <button>256 Гб</button>
                <button>512 Гб</button>
                <button>1 Тб</button>
            </div>
            <div class="end-div">
                
                <button type="button" class="end" > ✓ </button>
                <h4>Товар в наявності</h4> -->
            </div>
        </div>
        
    </div>
{% endfor %}
{% endblock %}