{% extends "base.html" %}
{% block title %}
Cart page
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('basket.static', filename = '/css/style.css') }}">
    <script src="{{ url_for('basket.static', filename = '/js/script.js') }}" defer type="module"></script>
{% endblock %}
{% block content %}


<div id="log">

    <a class="first" href="/">HOME</a>
    <a id="shop" href="/shop/">SHOP</a>
    <a id="basket" href="/basket/">CART</a>
    <a id="contacts" href="/contacts/">CONTACTS</a>
    <p id="end">{{ name }}</p>
</div>
{% if send %}
<h1 class="oformed">Ваші дані у обробці 
    консультант зв’яжеться з вами для підтвердження замовлення</h1>
{% endif %}
<div class="message"><p id="message">{{count}}</p></div>
<h1 id="empty">cart empty</h1>
{% for product in products %}

    <div class="start" id="{{product.id}}">
        <img src="{{ url_for('shop.static', filename = '/image/') }}{{ product.name }}.png" class="img-product" alt="">
        <div class="border">
            <p class="product-name">{{ product.name }}</p>  
            {% if not send %}
            <div class="edit">
                <button id="{{product.id}}" class="edit1">-</button>
                <h2 id="count">0</h2>
                <button id="{{product.id}}" class="edit2">+</button>
            </div>
            {% else %}
            <div class="edit">
                
                <h2 id="count">0</h2>
                
            </div>
            {% endif %}
            <div class="price-div">
                <h2 id="{{ product.price }}" class="price-h2">{{ product.price }}</h2>
                <h3 id="{{ product.discount }}" class="price-h3">грн</h3>
            </div>
        </div>
    </div>
{% endfor %}
{% if not send %}
<div class="forms">
    
    <button class="form">Перейти до оформлення</button>
    <h3 class = "count-products">0-и товари на сумму</h3>
    <h3 class = "price">133 997 грн</h3>
    <h3>Знижка</h3>
    <h3 class = "discount">0 грн</h3>
    <h2>Загальна сумма</h2>
    <h3 class = "all-price">133 997 грн</h3>
</div>
{% else %}

    <form class="after-form" method="post">
        <div style="text-align: center;">
            <h2 class="price-name">Загальна вартість замовлення: <span class = "all-price" style="position: unset;"></span></h2>
        </div>
        
        <button class="form" name="type" value="after-form">Відмінити замовлення</button>
    </form>
{% endif %}
<div class="modal" style="display: none;">
    <form action="" method="post" class="forming">
        <h1  name="type" value="form">оформлення замовлення</h1>
        <h2 class="data">Ім'я</h2>
        <input type="text" name="name" required class="get-data">
        <h2 class="data">Прізвище</h2>
        <input type="text" name="surname" required class="get-data">
        <h2 class="data">Телефон замовника</h2>
        <input type="text" name="phone" required class="get-data">
        <h2 class="data">Email замовника</h2>
        <input type="text" name="email" required class="get-data">
        <h2 class="data">Місто отримувача</h2>
        <input type="text" name="city" required class="get-data">
        <h2 class="data">Відділеня нової пошти</h2>
        <input type="text" name="post" required class="get-data">
        <h2 class="data">Додаткові побажання</h2>
        <Textarea type="text" name="add" class="get-data"></Textarea>
        <button type="submit" class="submit" name="submit" value="">Send</button>
    </form>
    <div class="background"></div>
</div>
{% endblock %}