{% extends "base.html" %}
{% block title %}
shop page
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('shop.static', filename = '/css/style.css') }}">
    <script src="{{ url_for('shop.static', filename = '/js/script.js') }}" defer></script>
{% endblock %}
{% block content %}


<div id="log">

    <a class="first" href="/">HOME</a>
    <a id="shop" href="/shop/">SHOP</a>
    <a id="basket" href="/basket/">BASKET</a>
    <a id="contacts" href="/contacts/">CONTACTS</a>
    <p id="end">{{ name }}</p>
</div>
<div class="message"><p id="message">{{count}}</p></div>

<div class="start1">

</div>
{% for product in products %}
    <div class="start">
        <img src="{{ url_for('shop.static', filename = '/image/') }}{{ product.name }}.png" alt="">
        <div>
            <h1>{{ product.name }}</h1>  
            <h2>{{ product.price }} грн</h2>
            <!-- <form method="POST"> -->
            <button class="buy" id = "{{ product.id }}" >Купити</button>
            <!-- </form> -->
            <h3>Ємність:</h3>
            <div>
                <button>256 Гб</button>
                <button>512 Гб</button>
                <button>1 Тб</button>
            </div>
            <div class="end-div">
                
                <button type="button" class="end" > ✓ </button>
                <h4>Товар в наявності</h4>
            </div>
        </div>
        
    </div>
   
    
{% endfor %}
{% endblock %}