{% extends "base.html" %}
{% block title %}
shop page
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('shop.static', filename = '/css/style.css') }}">
    <script src="{{ url_for('shop.static', filename = '/js/script.js') }}" defer></script>
{% endblock %}
{% block content %}


<div id="log">

    <a class="first" href="/">HOME</a>
    <a id="shop" href="/shop/">SHOP</a>
    <a id="basket" href="/basket/">CART</a>
    <a id="contacts" href="/contacts/">CONTACTS</a>
    <p id="end">{{ name }}</p>
</div>
<div class="message"><p id="message">{{count}}</p></div>

<div class="start1">

</div>
{% for product in products %}
    <div class="start">
        <img src="{{ url_for('shop.static', filename = '/image/') }}{{ product.name }}.png" alt="" class="product-img">
        {% if admin %}
            <form action="" method="post">
                <button class = "editorButton img" name="img" type="submit" value="{{product.id}}">
                    <img  src="{{ url_for('shop.static', filename = '/image/') }}Vector.png" class = "editorImg" alt="">
                </button>
            </form>
           
        {% endif %}
        <div class = "product">
            <div class = "inner">
                
            
            {% if admin %}
                <h1>{{ product.name }}
                    <button class = "editorButton name">
                        <img src="{{ url_for('shop.static', filename = '/image/') }}Vector.png" class = "editorImg" alt="">
                    </button>
                </h1>  
                
                
                <h3 class="price">{{ product.price}} грн
                    <button class = "editorButton priceButton">
                        <img src="{{ url_for('shop.static', filename = '/image/') }}Vector.png" class = "editorImg" alt="">
                    </button>
                </h3>

                <h3 class="discount">Знижка {{product.discount}}%
                    <button class = "editorButton discountButton" >
                        <img src="{{ url_for('shop.static', filename = '/image/') }}Vector.png" class = "editorImg" alt="">
                    </button>
                </h3>
            {% elif product.discount != 0 %}
                <h1>{{ product.name }}</h1>  
                <h3 class="price">{{ product.price}} грн</h3>
                <h3 class="discount">Знижка {{product.discount}}%</h3>
            
            {% else %}
                <style scoped>
                    #scop {
                        margin-bottom: 20px;
                        height: 50px;
                    }
                </style>
                <h1 id="scop">{{ product.name }}</h1>  
            {% endif %}
            <h2>{{ int(product.price - product.discount/100*product.price)  }} грн</h2>
            <!-- <form method="POST"> -->
            <button class="buy" id = "{{ product.id }}" >Купити</button>
            <!-- </form> -->
            <h3 class="capacity">Ємність:</h3>
            {% if admin %}
                <div>
                    <button >256 Гб
                        <button class = "editorButton b1">
                            <img src="{{ url_for('shop.static', filename = '/image/') }}Vector.png" class = "editorImg" alt="">
                        </button>
                    </button>
                    
                    <button>512 Гб
                        <button class = "editorButton b2">
                            <img src="{{ url_for('shop.static', filename = '/image/') }}Vector.png" class = "editorImg" alt="">
                        </button>
                    </button>
                    
                    <button>1 Тб
                        <button class = "editorButton b3">
                            <img src="{{ url_for('shop.static', filename = '/image/') }}Vector.png" class = "editorImg" alt="">
                        </button>
                    </button>
                </div>
            {% else %}
                <div>
                    <button>256 Гб</button>
                    <button>512 Гб</button>
                    <button>1 Тб</button>
                </div>
            {% endif %}
            <div class="end-div">
                <button type="button" class="end" > ✓ </button>
                <h4>Товар в наявності</h4>
            </div>
            </div>
        </div>
        
    </div>
   
    
{% endfor %}
{% if mod %}
    <form class="modal_window" method="post">
        {% if type == "TEXT" %}
            <h1>CHANGE TEXT:</h1>
            <input type="text" name="text" id="">
        {% elif type == "IMG" %}
            <h1>CHANGE IMAGE</h1>
            <input type = "file" name = "image" accept= "image/*">
        {% endif %}
        <button class="send_button" name = "send" value = "{{id}};type1">SEND</button>
    </form>
    <div class="background"></div>
{% endif %}
<!-- <canvas id="canvas"></canvas> -->
{% endblock %}