@font-face {
    font-family: "Inter";
    src: url(fonts/Inter-Regular.woff2);
}
.first{
    position: absolute;
    top: 1.3%;
    left: 2%; 
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
    align-items:normal;
    /* HOME */
    /* HOME */

width: 177px;
height: 44px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
display: flex;
text-decoration-line: underline;
text-transform: uppercase;

color: #000000;


width: 177px;
height: 44px;


}
p{
    /* HOME */

/* HOME */

/* width: 238px;
height: 44px; */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


}
#log{
    /* Frame 2 */

/* Auto layout */
margin-top: 15%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 39px;
gap: 10px;

width: 1440px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
h1{
    /* Home page */

    /* width: 831px; */
    size: 100;
    /* height: 165px; */
    position: absolute;
    left: 35%;
    top: 35%;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;



 
}
a{
    

    /* Registration */

    position: absolute;
    /* width: 1400px;
    height: 33px; */
    left: 90%;
    top: 9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;





}
#first{
    left: 80%;
}
#end{
    
    /* mykola Skrypnyk */
    position: absolute;
    /* width: 1400px; */
    /* height: 33px; */
    left: 90%;
    top: 9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    /* mykola Skrypnyk */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
display: flex;
text-transform: uppercase;



}
#shop{
    position: absolute;
    top: 4%;
    left: 10%;
    text-decoration-line:none ;
}
#basket{
    position: absolute;
    top: 4%;
    left: 19%;
    text-decoration-line:none ;
}
#contacts{
    position: absolute;
    top: 4%;
    left: 30%;
    text-decoration-line:none ;
}