
a{
    /* Registration */

    position: absolute;
    width: 1400px;
    height: 33px;
    left: 88%;
    top: 9px;
    /* margin-left: auto; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}
form{
    /* Authorization */

    box-sizing: border-box;

    /* Auto layout */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px 10px;
    gap: 23px;

    width: 448px;
    height: 355px;

    border: 3px solid #000000;
    border-radius: 25px;
    margin-top: 14%;
    /* margin-bottom: 12%; */
    margin-left: auto;
    margin-right: auto;
}
p{
    margin-top: auto;
    margin-bottom: auto;
    left: 40px;
    top: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
input{
    /* Input Login */


/* Input Login */

box-sizing: border-box;

/* position: absolute; */
width: 370px;
height: 56px;
left: 39px;
top: 80.5px;

border: 2px solid #000000;
border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

}
/* #login{
    position: absolute;
    width: 370px;
    height: 56px;
    left: 40px;
    top: 59px;
} */
/* Authorization */
#send{
/* Button SEND */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 204px;
height: 56px;

border: 2px solid #000000;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
background-color: white;

/* send */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}