{% extends "base.html" %}

{% block title %}
    Reg page
{% endblock %}

{% block content %}
    <a href="/reg/">Registration</a>
    
    <form method="post">
        <p class="login">Login</p>
        <input type="text" id="login" name="login" required>
        <p class="email">Email</p>
        <input type="text" id = "email" name="email" required>
        <p class="password">Password</p>
        <input type="text" id="password" name="password" required>
        <p class="Password_confirmation">Password confirmation</p>
        <input type="text" id="password_confirmation" name="Password_confirmation" required >

        <button id="send">Send</button>
    </form>
    {% if code %}
        <div>
            <h1>CONFIRMED</h1>
            <a href = '/login/' id="log">{{ code }}</a>
        </div>
        <div id="background"></div>
    {% endif %}
    
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('reg.static', filename = '/css/style.css') }}">
{% endblock %}