{% extends "base.html" %}

{% block title %}
    authorization page
{% endblock %}

{% block content %}
    <a href="/login/">authorization</a>
    
    <form method="post">
        <p class="login">Login or Email</p>
        <input type="text" id="login" name="login" required>
        <p class="password">Password</p>
        <input type="text" id="password" name="password" required>
        
        <button id="send">Send</button>
    </form>
    {% if code %}
        <div>
            <h1>YOU ARE NOT REGISTERED </h1>
            <a href = '/reg/' id="reg">{{ code }}</a>
        </div>
        <div id="background"></div>
    {% endif %}
{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('login.static', filename = '/css/style.css') }}">
{% endblock %}