{% extends "base.html" %}

{% block title %}
    Home page
{% endblock %}

{% block content %}
    {% if code %}
        <div id="log">

            <p class="first">HOME</p>
            <a id="shop" href="/shop/">SHOP</a>
            <a id="basket" href="/basket/">BASKET</a>
            <a id="contacts" href="/contacts/">CONTACTS</a>
            <p id="end">{{ code }}</p>
        </div>
    {% else %}
        <div>
            <a href="/reg/" id="first">Registration </a>
            <a href="/login/">Autorization</a>
        </div>
    {% endif %}
    <h1>HOME PAGE</h1>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename = '/css/style.css') }}">
{% endblock %}